.ZoomLiga .WebForm .WebFrm_Wrapper {
    border: 2px solid #2d8a42 !important;
    border-radius: 6px !important;
}

.ZoomLiga .WebForm input,
.ZoomLiga .WebForm .WebDynFrm {
    color: #ffffff !important;
    text-align: left !important;
}

.ZoomLiga .WebControl > div > label {
    color: #ffffff !important;
}

/* ZoomEquipo CSS */

.ZoomEquipo .WebForm .WebFrm_Wrapper {
    border: 2px solid #2d8a42 !important;
    border-radius: 6px !important;
}

.ZoomEquipo .WebForm input,
.ZoomEquipo .WebForm .WebDynFrm {
    color: #ffffff !important;
    text-align: left !important;
}

.ZoomEquipo .WebControl > div > label {
    color: #ffffff !important;
}